body{
	width:100%;
	height:100%;
	background-color:red;
	margin:0;
	padding:0;
}

div.header, div.footer{
			clear:both;
			}	
#header
{
height:100%;
}
#antet
{
		
	
		background: url('topcar.gif');
	
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color:transparent;
}

#antet h2
{text-align:right;
color:#F53B85;
}

#header_footer
{
	background-color:#FFCCFF;
	width:100%;
	margin:0;
	padding:0;
	text-align:center;
	


}
#header_footer #banner {
	font-family:verdana;
	color:#6699FF;
	text-shadow:5px 5px 5px #878E9B;
	position:relative;
	animation:derulare 5s ease-in-out infinite normal;
	-webkit-animation:derulare 5s ease-in-out infinite normal;
	}
@-webkit-keyframes derulare{
0%{left:-40%;}
50%{left:30%;color:#8E0039;}
80%{left:60%;}
100%{left:100%;}
}

		
.main{
			width:100%;
			height:100%;
			background-color:white;

}
.continut
{
	float:left;
	width:70%;
	height:100%;
	margin:0px;
	background-color:white;
	color:#5C195C;
	text-align:justify;
	position:relative;


}
.continut h1{
	margin:0px;
	padding:0px;
	color:#F53B85;
	padding:15px;

}

.continut p{
		padding: 5px 5px 5px 5px;
}
.continut p.h {
		padding:10px 5px 10px 5px;
		text-align:justify;
		font-size:85%;
		text-indent:30px;
		min-height:70px;
		
}

.continut div.salon {
		clear:both;
		height:100%;
		
	
	}
.continut div.salon p{
		
		text-align:center;
		color:#527ACC;
		
	
	}
	
.continut p#primu{
		margin-top:0px;
		max-height:20%;
		background-color:#FFD4D4;
		color:#FF8533;
		


}
.continut img
{
		max-width:100%;
		float:left;
		margin-top:20px;
		margin-left:0px;
		padding:10px;
		}

.meniu{
		float:left;
		width:30%;
		height:100%;
		background-color:white;
		
}

.meniu #unu{
				text-align:bottom;
				font-variant:small-caps;
				font-size:200%;
				}
.meniu ul{
		padding:10px;
		text-align:center;
		height:10%;
		width:60%;
		color:#5C195C;
		
}		

.meniu a{
		list-style-type:none;
		text-decoration:none;
		}
.meniu  ul a:link{
		display:block;
		text-decoration:none;
		color:#FF3385;
		background-color:#FFF5FF;
		border:4px solid #8A2E8A;
		padding:10px;
		width:60%;
		border-radius:25px;
}

.meniu  ul a:hover{
		display:block;
		text-decoration:none;
		color:white;
		background-color:#D63385;
		border:4px solid #FFE6FF;
		padding:10px;
		width:60%;
		border-radius:25px;
}
.meniu p{
		color:#B2245D;
		}
		
.footer{
		height:10%;
		padding:5px;
		color:#5C195C;
		text-align:center;
		background-color:#FFDFFF;
		}

div#c {
	width: 30%;
	background-color:green;
	height:10%;
	font-size:small;
	text-align:justify;
	display:none;
	}
